<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eliu.dEv</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
	<script defer src="/static/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/theme-2.css">
    <link rel="stylesheet" href="/static/assets/css/site.css">

</head>

<body>

    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="main-wrapper">
        <!--Content Block-->
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>

        <!--End Content Block-->
	    <footer class="footer text-center py-2 theme-bg-dark">
           &copy; Eliud Ortiz, {% now "Y" %}
	    </footer>

    </div><!--//main-wrapper-->

    <!-- Javascript -->
    <script src="/static/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/static/assets/plugins/popper.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

