{% extends "base.html" %} 
{% block content %}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Eliu.dEV</h2>
        <div class="intro">Welcome!</div>
    </div><!--//container-->
</section>
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        {% for post in post_list %}
        <div class="item mb-5">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.get_thumbnail_url }}" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h3>
                    <div class="meta mb-1"><span class="date">Published {{ post.created_on }}</span></div>
                    <div class="intro">{{ post.content_preview }}</div>
                    <a class="more-link" href="{% url 'post_detail' post.slug  %}">Read more &rarr;</a>
                </div><!--//media-body-->
            </div><!--//media-->
        </div><!--//item-->
        {% endfor %}


    </div>
</section>

{%endblock%}